#orderContainer
{
    font-family: 'Lato', sans-serif;
    width: 80%;
    padding-top: 250px;
    padding-bottom: 150px;
    margin: auto;
    text-align: center;
}

#aboutCheck p
{
    font-weight: 100;
    letter-spacing: 1px;
}

#aboutCheck h1
{
    letter-spacing: 1px;
    word-spacing: 1px;
}